section#adjustments
  .repeating-container.repeating-container--advantages.advantages.subsection.section
    h2(data-i18n='advantages')
    .repeat-columns
      h5(data-i18n='name')
    +customControlFieldset({name:'advantage'})
      +checkbox({name:'collapse',class:'collapse'})
      +text({name:'name',class:'underlined',role:'heading','aria-level':3})
      .headed-textarea.notes.expanded
        h5(data-i18n='notes')
        +adaptiveTextarea({name:'notes',class:'underlined'})
  .repeating-container.repeating-container--disadvantages.disadvantages.subsection.section
    h2(data-i18n='disadvantages')
    .repeat-columns
      h5(data-i18n='name')
    +customControlFieldset({name:'disadvantage'})
      +checkbox({name:'collapse',class:'collapse'})
      +text({name:'name',class:'underlined',role:'heading','aria-level':3})
      .headed-textarea.notes.expanded
        h5(data-i18n='notes')
        +adaptiveTextarea({name:'notes',class:'underlined'})
  .repeating-container.repeating-container--adjustments.adjustments.subsection.section
    h2(data-i18n='adjustments')
    .repeat-columns
      h5(data-i18n='name')
    +customControlFieldset({name:'adjustment'})
      +checkbox({name:'collapse',class:'collapse'})
      +text({name:'name',class:'underlined',role:'heading','aria-level':3})
      .headed-textarea.mod.expanded
        h5(data-i18n='notes')
        +adaptiveTextarea({name:'notes',class:'underlined'})
    //-
      .headed-textarea.mods.expanded
        h5(data-i18n='mods')
        +adaptiveTextarea({name:'mods',class:'underlined'})
