@use '_systemplaceholders.scss';
//The navigation tab styling for the Roll20 nav-tabs class and the sheet's navigation section.
.nav-tabs li a{
  font-family:var(--midHeaderFont);
  padding:{
    top: 18px;
    bottom:15px;
  };
  &[data-tab='charsheet']{
    background-image: url(https://s3.amazonaws.com/files.d20.io/images/259063058/V4Hm27FqfgBujU8bI74Xaw/original.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding:{
      left:50px;
      right:12px;
    };
  }
}
#main-nav{
  --tabColor:white;
  --tabBorder:drop-shadow(1px 0 0 grey) drop-shadow(-1px 0 0 grey) drop-shadow(0 -1px 0 grey) drop-shadow(0 1px 0 black);
	display:grid;
	gap:var(--half-gap);
  grid-template-columns:1fr auto 1fr;
	align-items:center;
	position:sticky;
	top:60px;
	background:white;
	box-shadow:-10px 0 0 0 white,10px 0 0 0 white,0 -6px white;
	z-index:100;
	border-bottom:1px solid black;
	.nav__button{
		font-style:normal;
    color:grey;
	}
  .nav__button--settings{
    @extend %pictos;
    &.active,
    &:hover{
      color:black;
    }
  }
  .nav__button--tab {
    background-color: var(--tabColor);
    position: relative;
    display: inline-block;
    z-index: 2;
    padding:calc(var(--half-gap) + 0.1rem);
    filter:var(--tabBorder);
    &.active,
    &:hover{
      @include systemplaceholders.activeTab;
    }
    &.active{
      pointer-events: none;
    }
    &:before{
      height: 100%;
      width: 50px;
      background-color: var(--tabColor);
      content: "";
      position: absolute;
      z-index: -1;
    }
  }
  .nav__button--tab--left{
    border-radius:0 50% 0 0;
    margin-left:1px;
    justify-self:start;
    &:before{
      border-radius: 0 2px 0 0;
      left: calc(100% - 40px);
      top: 0px;
      -webkit-transform: skewX(45deg);
      transform: skewX(45deg);
    }
  }
  .nav__button--tab--right{
    border-radius:50% 0 0 0;
    margin-right:1px;
    justify-self:end;
    &:before{
      border-radius: 2px 0 0 0;
      left: -5px;
      top: 0px;
      -webkit-transform: skewX(-45deg);
      transform: skewX(-45deg);
    }
  }
}