@use '_systemplaceholders.scss';
#warbird-weapons{
  @extend %repeat-section-layout;
  .repeat-columns,
  .repitem{
    grid-template-columns:1rem 1fr 5rem 4rem 7rem 8rem 5rem;
  }
  .repeat-columns{
    @each $num in 1,2,3,4,5,6{
      :nth-child(#{$num}){
        grid-column:$num + 1;
      }
    }
  }
  .repitem{
    @extend %grid;
    gap:var(--tiny-gap);
    grid-template-columns:auto repeat(2,1fr);
    .roller{
      grid-row-end:span 2;
    }
    .ammo{
      grid-column:1 / -1;
      align-items: flex-start;
    }
    .ammo-tracker{
      @extend %grid;
      gap:var(--half-gap) var(--tiny-gap);
      grid-template-columns:repeat(10,auto);
      place-content:center;
    }
    .ammo-display-control:checked + .ammo-tracker{
      :nth-child(11) ~ *{
        display:none;
      }
    }
  }
}