article#warbird.warbird.subsystem-style.navigable-section
  include sections/_pic.pug
  include sections/_ratings.pug
  include sections/_stats.pug
  include sections/_trait.pug
  include sections/_weapons.pug